// Theme
$light: #fff;
$light-rgb: 255, 255, 255;
$light-sec: #f2f2f2;
$light-hover-text-filter: brightness(140%);

$dark-sec: #151515;
$dark-rgb: 14, 14, 14;
$dark: #0e0e0e;
$dark-hover-text-filter: brightness(160%);

$light-blue: #1a88ed;
$dark-blue: #0f6abd;

$light-purple: #a458df;
$dark-purple: #8a29d6;

$light-blue-gradient: 26, 136, 237;
$light-purple-gradient: 164, 88, 223;
$light-border-color: 209, 213, 219;

$dark-purple-gradient: 138, 41, 214;
$dark-blue-gradient: 13, 93, 165;
$dark-border-color: 75, 85, 99;

// Alerts
$light-text-info: #1f82ff;
$light-text-warning: #d6870b;
$light-text-danger: #e74c3c;

$dark-text-info: #0a3c7b;
$dark-text-warning: #c07c11;
$dark-text-danger: #ca3a2b;

$light-bg-info: #c2f9ff;
$light-bg-warning: #fbdcac;
$light-bg-danger: #f4aca4;

$dark-bg-info: #54a0ff;
$dark-bg-warning: #ffcf85;
$dark-bg-danger: #ffb0a8;

// Const
$side-margin: 64px;
$side-margin-mobile: 24px;

html,
html[data-theme="light"] {
  --main-bg: #{$light};
  --sec-bg: #{$light-sec};
  --main-blue: #{$light-blue};
  --main-purple: #{$light-purple};
  --text-color: #{$dark};
  --blue-gradient: #{$light-blue-gradient};
  --purple-gradient: #{$light-purple-gradient};
  --border-color: #{$light-border-color};
  --hover-text-filter: #{$light-hover-text-filter};
  --text-info: #{$light-text-info};
  --bg-info: #{$light-bg-info};
  --text-warning: #{$light-text-warning};
  --bg-warning: #{$light-bg-warning};
  --text-danger: #{$light-text-danger};
  --bg-danger: #{$light-bg-danger};
}
html[data-theme="dark"] {
  --main-bg: #{$dark};
  --sec-bg: #{$dark-sec};
  --main-blue: #{$dark-blue};
  --main-purple: #{$dark-purple};
  --text-color: #{$light};
  --blue-gradient: #{$dark-blue-gradient};
  --purple-gradient: #{$dark-purple-gradient};
  --border-color: #{$dark-border-color};
  --hover-text-filter: #{$dark-hover-text-filter};
  --text-info: #{$dark-text-info};
  --bg-info: #{$dark-bg-info};
  --text-warning: #{$dark-text-warning};
  --bg-warning: #{$dark-bg-warning};
  --text-danger: #{$dark-text-danger};
  --bg-danger: #{$dark-bg-danger};
  #texture {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  html,
  html[data-theme="light"] {
    --main-bg: #{$light};
    --main-blue: #{$light-blue};
    --main-purple: #{$light-purple};
    --text-color: #{$dark};
    --blue-gradient: #{$light-blue-gradient};
    --purple-gradient: #{$light-purple-gradient};
  }
  html[data-theme="dark"] {
    --main-bg: #{$dark};
    --main-blue: #{$dark-blue};
    --main-purple: #{$dark-purple};
    --text-color: #{$light};
    --blue-gradient: #{$dark-blue-gradient};
    --purple-gradient: #{$dark-purple-gradient};

    #texture {
      display: none;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
p,
li {
  color: var(--text-color);
  font-family: "Inter";
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  font-family: "Space Grotesk";
}
body {
  transition: background-color 0.5s ease, color 1s ease;
  background: var(--main-bg);
}

// Navbar
.header-desktop {
  position: fixed;
  padding: 12px $side-margin;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  overflow: hidden;
  top: 0;
}
.bg-transparent {
  background-color: transparent !important;
}
.bg-color {
  background-color: var(--main-bg) !important;
}
.bg-blur {
  backdrop-filter: blur(10px) !important;
}
.logo {
  text-decoration: none;
  color: var(--text-color);
  font-family: "M PLUS Rounded 1c";
  font-weight: 700;
  font-size: 36px;
  transition: color 0.5s ease;
  & > span {
    color: var(--main-blue);
    transition: color 0.5s ease;
  }
  &:hover {
    color: var(--main-blue);
    & > span {
      color: var(--text-color);
    }
  }
}
.nav-desktop ul {
  display: flex;
  justify-content: center;
  & li {
    font-family: "Space Grotesk";
    font-size: 16px;
    list-style: none;
    margin-left: 42px;
  }
  & .nav-item a {
    transition: color 0.5s ease;
  }
  & a:hover {
    color: var(--main-blue);
  }
}
.theme-toggle i {
  font-size: 22px;
  transform: rotate(-10deg);
  transition: color 0.5s ease;

  &:hover {
    color: var(--main-blue);
  }
}
.header-mobile,
.nav-mobile,
#nav-mobile-backdrop,
.burger {
  display: none;
}
.show-nav-mobile {
  transform: translateY(0) !important;
}

// Footer
.footer-desktop {
  border-top: solid 1px rgb(var(--border-color));
  display: flex;
  justify-content: space-between;
  background-color: var(--sec-bg);
  padding: 24px $side-margin 12px;
  & div > a {
    font-size: 24px !important;
  }
  & .right {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  & .top-btn {
    padding: 4px 8px;
    border: solid 1px rgb(var(--border-color));
    display: block;
    border-radius: 12px;
    &:hover {
      transition: all 0.5s ease;
      translate: 0 -8px;
    }
  }
}
.copyright {
  margin-top: 46px;
  opacity: 0.6;
  font-size: 12px;
}
.powered {
  display: flex;
  align-items: center;
  margin-top: 28px;
  & p {
    font-size: 12px;
    opacity: 0.6;
  }
  & > a:hover {
    & > img {
      transition: filter 0.5s ease;
      filter: var(--hover-text-filter);
    }
  }
}
.footer-mobile {
  display: none;
}

// Utils
.title {
  display: inline-block;
  font-family: "Space Grotesk";
  line-height: 1.2 !important;
  font-weight: 600;
  color: var(--text-color);
}
.t-46 {
  font-size: 46px;
}
// margin & padding
.m-1 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.mt-1 {
  margin-top: 12px;
}
.mt-2 {
  margin-top: 22px;
}
.mt-3 {
  margin-top: 32px !important;
}
//border
.border-top {
  border-top: solid 1px rgb(var(--border-color));
}
.border-bottom {
  border-bottom: solid 1px rgb(var(--border-color));
}
//pointer
.pointer {
  cursor: pointer;
}
//img
.img-fluid {
  max-width: 100%;
  height: auto;
}
.img-small {
  width: 80px;
}
.img-long {
  max-width: calc(100% - 40vw);
}
//align
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
//flex
.flex {
  display: flex;
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.flex-gap {
  gap: 12px;
}
//width
.w-30 {
  max-width: 30%;
}
.w-60 {
  max-width: 60%;
}
.w-80 {
  max-width: 60%;
}
.w-100 {
  max-width: 100%;
}
//display
.d-block {
  display: block;
}

// Alert
.alert {
  font-family: "Inter";
  margin-top: 18px;
  border-radius: 12px;
  & p {
    margin-top: 0 !important;
  }
  & div {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 10px;
    padding: 6px 16px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    & > p {
      font-weight: 600;
      font-size: 18px !important;
    }
  }
  & > p {
    font-size: 14px !important;
    padding: 8px 16px;
  }
}
.alert-info {
  background: var(--bg-info);
  & div {
    background: var(--text-info);
    color: var(--bg-info);
    & p {
      color: var(--bg-info);
    }
  }
  & > p {
    color: var(--text-info);
  }
}
.alert-warning {
  background: var(--bg-warning);
  & div {
    background: var(--text-warning);
    color: var(--bg-warning);
    & p {
      color: var(--bg-warning);
    }
  }
  & > p {
    color: var(--text-warning);
  }
}
.alert-danger {
  background: var(--bg-danger);
  & div {
    background: var(--text-danger);
    color: var(--bg-danger);
    & p {
      color: var(--bg-danger);
    }
  }
  & > p {
    color: var(--text-danger);
  }
}

// 404
.not-found {
  margin: 20vh 15vw;
  min-height: 100vh;
}

// Responsive
@media only screen and (max-width: 540px) {
  .img-long {
    max-width: calc(100% - 30vw);
  }
}
@media only screen and (max-width: 600px) {
  .nav-mobile {
    & li {
      font-size: 18px;
    }
  }
  .footer-desktop {
    display: none;
  }
  .footer-mobile {
    border-top: solid 1px rgb(var(--border-color));
    display: flex;
    justify-content: space-between;
    background-color: var(--sec-bg);
    padding: 18px $side-margin-mobile 12px;
    & div > a {
      font-size: 24px !important;
    }
    & .right {
      display: flex;
      flex-direction: column;
      align-items: end;
    }
    & .top-btn {
      padding: 4px 8px;
      border: solid 1px rgb(var(--border-color));
      display: block;
      border-radius: 12px;
      &:hover {
        transition: all 0.5s ease;
        translate: 0 -8px;
      }
    }
  }
  .copyright {
    margin-top: 0;
  }
  .powered {
    margin-top: 0;
  }
  .alert {
    & > div > p {
      font-size: 16px !important;
    }
    & > p {
      font-size: 12px !important;
    }
  }
}
@media only screen and (max-width: 700px) {
  .header-mobile {
    display: block;
    position: fixed;
    padding: 12px $side-margin-mobile;
    z-index: 10;
    width: 100%;
    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .header-desktop {
    display: none;
  }
  #nav-mobile-backdrop {
    z-index: 50;
    position: fixed;
    height: 100vh;
    width: 100vw;
  }
  .nav-mobile {
    z-index: 99;
    display: block;
    position: fixed;
    transition: transform 0.5s ease;
    transform: translateX(-100%);
    background: var(--main-bg);
    height: 100vh;
    width: 75vw;
    & > div {
      padding: 12px $side-margin-mobile;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: solid 1px rgb(var(--border-color));
    }
    & .theme-toggle {
      margin-left: 12px;
    }
    & li {
      font-family: "Space Grotesk";
      font-size: 22px;
      list-style: none;
      margin: 28px 0 0 32px;
    }
    & .nav-item-mobile a {
      transition: color 0.5s ease;
      &:hover {
        color: var(--main-blue);
      }
    }
    & #close-icon {
      font-size: 28px;
    }
  }
  .burger {
    z-index: 10;
    display: block;
    cursor: pointer;
    border: none;
    background: transparent;
    color: var(--text-color);
    & #burger-icon {
      display: block;
      font-size: 24px;
    }
  }
  .logo {
    font-size: 30px;
  }
}
@media only screen and (max-width: 820px) {
  .img-long {
    max-width: calc(100% - 50vw);
  }
}
