.home {
  position: relative;
  height: 100vh;
}
.greeter {
  z-index: 5;
  position: absolute;
  top: 40%;
  left: 20%;
  & > h1 {
    font-family: "Space Grotesk";
    color: var(--text-color);
    font-size: 52px;
    margin-bottom: -6px;
  }
  & > h1 > span {
    color: var(--main-blue);
  }
}
.greeter-icon {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  & i {
    transition: color 0.5s ease;
    font-size: 30px;
  }
  & i:hover {
    color: var(--main-blue);
  }
}
.gradient {
  position: absolute;
  top: 20%;
  left: 65%;
}
#texture {
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: -25%;
  left: -70%;
  width: 480px;
  height: 480px;
  opacity: 0.6;
  mix-blend-mode: overlay;
  background: url(/assets/img/static/texture.webp);
}
#elipse1 {
  overflow: hidden;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  filter: blur(30px);
  background: linear-gradient(
    0deg,
    rgba(var(--purple-gradient), 0.27) 30%,
    rgba(var(--blue-gradient)) 100%
  );
  animation: animate 3s ease-in-out infinite alternate;
}
#elipse2 {
  position: absolute;
  overflow: hidden;
  top: 10%;
  left: -50%;
  height: 340px;
  width: 340px;
  border-radius: 50%;
  filter: blur(30px);
  background: linear-gradient(
    0deg,
    rgba(var(--purple-gradient), 0.29) 20%,
    rgba(var(--blue-gradient), 0.37) 80%
  );
  animation: animate 5s ease-in-out infinite alternate;
}

//animation
@keyframes animate {
  to {
    transform: scale(1.3);
  }
}

@media only screen and (max-width: 700px) {
  .greeter {
    z-index: 5;
    position: absolute;
    top: 30%;
    left: 20%;
    & > h1 {
      font-size: 42px;
    }
  }
  .gradient {
    top: 25%;
    left: 40%;
  }
  #texture {
    top: -25%;
    left: -40%;
    width: 280px;
    height: 280px;
  }
  #elipse1 {
    height: 180px;
    width: 180px;
  }
  #elipse2 {
    height: 200px;
    width: 200px;
  }
}

@media only screen and (max-width: 960px) {
  .greeter {
    z-index: 5;
    position: absolute;
    top: 30%;
    left: 20%;
    & > h1 {
      font-size: 42px;
    }
  }
  .gradient {
    top: 25%;
  }
  #texture {
    top: -25%;
    left: -40%;
    width: 280px;
    height: 280px;
  }
  #elipse1 {
    height: 180px;
    width: 180px;
  }
  #elipse2 {
    height: 200px;
    width: 200px;
  }
}
